.contact {
  color: $white;
  background-color: $dark-gray;
  padding: $global-padding 0;
  > .row {
    margin: 0 auto;
  }
  h2 {
    font-size: rem-calc(32px);
  }
  label {
    color: $white;
  }
  .gform_footer {
    text-align: center;
  }
  .gform_button {
    text-transform: uppercase;
  }
}