#left-bar {
  .menu {
    display: block;
  }
}
#primary-nav {
  border-top: 1px solid $white;
  a {
    display: block;
    border-bottom: 1px solid $white;
    padding: $global-padding;
    &:hover {
      .nav {
        color: $anchor-color-hover;
      }
    }
    .nav, .description {
      display: block;
      width: 100%;
      transition: color 250ms linear;
    }
    .nav {
      font-weight: $global-weight-bold;
      text-transform: uppercase;
      color: $white;
      font-size: rem-calc(16px);
      @include breakpoint(medium) {
        font-size: rem-calc(22px);
      }
    }
    .description {
      color: $medium-gray;
      font-size: rem-calc(12px);
      @include breakpoint(medium) {
        font-size: rem-calc(14px);
      }
    }
  }
  .is-accordion-submenu-parent > a::after {
    color: $white;
  }
  .is-accordion-submenu-parent > a:hover::after {
    color: $anchor-color-hover;
  }
  .nested.submenu {
    background-color: $dark-gray;
    margin: 0;
    .nav {
      font-size: rem-calc(14px);
      @include breakpoint(medium) {
        font-size: rem-calc(16px);
      }
    }
  }
}