$fa-font-path: "../libs/font-awesome/fonts";
@import "slick.scss";
@import "slick-theme.scss";
@import "font-awesome";
@import "settings";
@import "foundation";
@include foundation-everything(true);
@import "profile";
@import "primary-nav";
@import "social-nav";
@import "contact";
@import "copyright";
@import "hero";

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// foundation accordion menu
.is-accordion-submenu-parent > a::after {
  content: "\f067";
  font-family: "FontAwesome";
  border: none;
  margin-top: rem-calc(-8px);
  margin-right: $global-padding;
}
.is-accordion-submenu-parent[aria-expanded="true"] > a::after {
  content: "\f068";
  transform: rotate(0deg);
  transform-origin: 0 0;
}

// gravity forms
.gform_wrapper {
  .gform_fields {
    @extend .row;
    list-style-type: none;
    margin: 0;
  }
}

// menu
#left-bar {
  background: $black;
  color: $medium-gray;
}