{% extends "pages/welcome.html.twig" %}
{% block content %}
    <section class="basic-content">
        <div class="row">
            <div class="small-12 columns">
                <h1>404 Page not found</h1>
            </div>
        </div>
    </section>
{% endblock %}