{% extends 'pages/welcome.html.twig' %}
{% block content %}
    <section class="recordings-preview">
        <div class="row">
            <div class="small-12 columns">
                <h2>Recordings</h2>
            </div>
        </div>
        <div class="row small-up-1 medium-up-2">
            {% for recording in posts%}
                <div class="column">
                    <h3>{{ recording.title }}</h3>
                    <audio controls>
                        <source src="{{ recording.file }}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>
            {% endfor %}
        </div>
    </section>
    {% include 'leaves/pagination.html.twig' %}
{% endblock %}