{% extends "pages/welcome.html.twig" %}
{% block content %}
    <section class="publications-teasers">
        <div class="row">
            <div class="small-12 columns">
                <h2>Publications</h2>
            </div>
        </div>
        <div class="row small-up-1 medium-up-2 large-up-3">
            {% for publication in posts %}
                <div class="column">
                    <a href="{{ publication.link }}" title="{{ publication.title }}" class="publication-teaser">
                        {{ publication.thumbnail }}
                        <h3>{{ publication.title }}</h3>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>
    {% include 'leaves/pagination.html.twig' %}
{% endblock %}