{% extends 'pages/welcome.html.twig' %}
{% block content %}
    <section class="single-post">
        <div class="row">
            <div class="small-12 columns">
                <h1>{{ title }}</h1>
                <div class="content">{{ content }}</div>
            </div>
        </div>
    </section>
{% endblock %}